extends session-layout

block content
	div(class="page-header text-center")
		h2
			span(class="fa fa-globe")
			| About 
	.row
		#left.col-sm-12
			.well
				h3
					span(class="fa fa-coffee")
					| Who We Are 
				p(style="text-align: left;")
				| Coffee enthusiasts
			.well
				h3 
					span(class="fa fa-linux")
					| What We Do
				p(style="text-align: left;")
				| Stuff
			.well
				h3 
					span(class="fa fa-cutlery")
					| Cutlery
				p(style="text-align: left;")
				| Lorem ipsum...

block scripts
	if isEditing
		scripts(src="/javascripts/isEditing.js")