doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
    block head
  body
  #topnav
    h1(style="font-size:50px;") Remote Steam Powered Robotics
    nav(class="navbar navbar-default" role="navigation")
      .container-fluid
        .navbar-header
          button(class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li.nav-item
              a(href="/profile") Profile
            li.nav-item
              a(href="/panel") Panel
            li.nav-item
              a(href="/about") About
          ul(class="nav navbar-nav navbar-right")
            li.nav-item-logout
              a(href="/logout") Logout
  .container
    block content
  .footer
    block footer
  #scripts
    block includes